@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#naver-map {
  width: 100%;
  height: calc(100vh - 60px);
  border: 3px solid #8585fe; /* 테두리 색상 추가 */
  border-radius: 10px; /* 테두리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

.cheapestCardContainer {
  background-color: #1a1a1a; /* 카드 배경색 변경 */
  border-radius: 8px; /* 모서리 둥글게 */
  padding: 4px; /* 패딩 */
}

.cheapestCardContainer:hover {
  background-color: #2a2a2a; /* 마우스 오버 시 배경색 변경 */
}

.cheapestCardPrice {
  color: #ccc; /* 가격 텍스트 색상 변경 */
  border-radius: 12px; /* 가격 배경 둥글게 */
}

.cheapestCardImageContainer {
  width: 10rem; /* 이미지 컨테이너의 너비를 설정 */
  height: 10rem; /* 이미지 컨테이너의 높이를 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
  overflow: hidden; /* 내부 이미지가 밖으로 나가지 않도록 설정 */
  display: flex; /* 이미지를 가운데에 위치시키기 위한 flex 설정 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
}

.cheapestCardImage {
  max-width: 100%; /* 최대 너비 제한 */
  max-height: 100%; /* 최대 높이 제한 */
  object-fit: contain; /* 이미지가 컨테이너에 맞게 조절되도록 설정 */
}

.iw_inner {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.station_info {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.fuel_prices {
  margin-bottom: 5px;
}

.click_info_content {
  padding: 10px;
  max-width: 500px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.info_region, .info_brand, .info_address {
  color: #555;
}

.favorite_button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.fuel_price {
  color: black;
}

.premium_gasoline {
  color: #DAA520; /* 고급 휘발유 */
}

.gasoline {
  color: #FF4500; /* 휘발유 */
}

.diesel {
  color: #1E90FF; /* 경유 */
}

.kerosene {
  color: #32CD32; /* 등유 */
}

/* 추가적인 색상 스타일 */
.info_name {
  color: #007bff; /* 주유소 이름 */
}

.info_detail, .fuel_price {
  color: black; /* 상세 정보와 연료 가격 */
}

.favorite_button {
  background-color: #007bff; /* 관심 주유소 등록 버튼 */
  color: white;
}

/* 기타 스타일 */
.info_detail span {
  color: #555; /* 상세 정보 타이틀 색상 */
}

.click_info_container {
  padding: 10px;
  max-width: 500px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}